Franco Ortiz : Data Scientist

Interesting Task Ideas:
- Visualizing current layoffs trends based on months
- Identifying which locations are most impacted
- Whether IPO status affects severity of layoffs

In [17]:
url = 'https://www.kaggle.com/datasets/salimwid/technology-company-layoffs-20222023-data'

#### modules

In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor

#### data

In [13]:
data = pd.read_csv('data/tech_layoffs.csv', parse_dates= ['reported_date'])
data.head()

,company,total_layoffs,impacted_workforce_percentage,reported_date,industry,headquarter_location,sources,status,additional_notes
0,C2FO,20,2,2022-12-09,"Fintech, payments","Leawood, KS",Kansas City Business Journal,Private,NaN
1,VideoAmp,Unclear,2,2022-09-19,Advertising platforms,Los Angeles,Company memo,Private,NaN
2,Amperity,13,3,2022-08-20,"Saas, analytics",Seattle,Geekwire,Private,NaN
3,Addepar,20,3,2023-01-18,"fintech, data analytics","Mountain View, CA",Fortune,Private,NaN
4,Thirty Madison,24,3,2022-05-13,Health Care,New York,Axios,Private,"Per Axios, 22 of the employees laid off were f..."

In [21]:
columns = data.columns
columns

Index(['company', 'total_layoffs', 'impacted_workforce_percentage',
       'reported_date', 'industry', 'headquarter_location', 'sources',
       'status', 'additional_notes'],
      dtype='object')

#### supervised learning
 separating your full data set into “Features” and “Target.”

In [14]:
# print shapes
print(f"Number of rows in training data: {data.shape[0]}")
print(f"Number of rows in test data: {test_data.shape[0]}")

Number of rows in training data: 489

NameError: name 'test_data' is not defined